.btn-get-list {
    padding: 0.8em;
    margin-top: 1em;
    margin-left: 1em;
    padding-left: 2em;
    padding-right: 2em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    border: 1px solid #015C92;
    background-color: #015C92;
}

.btn-get-list:hover{
    color: #015C92;
    border: 1px solid #015C92;
    background-color: #F0F2F5;
}

.btn-action{
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.9rem;
    font-weight: 700;
    border-radius: 8px;
    text-transform: uppercase;
    border: 0.5px solid #067fc6;
    background-color: #0170b0cc;
    padding: 0.2em;
}

.btn-action:hover{
    color: #015C92;
    border: 1px solid #015C92;
    background-color: #F0F2F5;
}

.register-request-container {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:25px;
    overflow: hidden;
}

.register-employee-content-input {
    font-weight: 400;
    letter-spacing: 0.009em;
    cursor: text;
    -webkit-box-align: center;
    align-items: center;
    position: relative;
    background-color: transparent;
    font-size: 0.875rem;
    border-radius: 0.375rem;
    border: 1px solid gray;
    margin-left: auto;
    padding: 0.375rem 0.75rem;
    height: 2.5em;
}

/*manage-employee-css*/
.manage-employee-container {
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    display: flex;
    flex-direction: column;
    gap:25px;
    overflow: hidden;
}
.manage-employee-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 1em;
}

.employee-list{
    margin-bottom: 3em;
    background-color: white;
    border: none;
    border-radius: 10px;
    display: flex;
    flex-direction: column;
    gap:25px;
    overflow: hidden;
}

.input-info{
    display: flex;
    padding: 1.4em 0em 1.4em 0em;
    margin-bottom: 1em;
    border-style: none;
    width: 150px;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    margin: 0px;
    font-size: 0.75rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}

.input-info:focus{
    outline: none;
}

.btn-del{
    margin-left: 1em;
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid #f44444;
    background-color: #e12d2d;
}

.btn-del:hover{
    color: #e31818;
    border: 1px solid #f44444;
    background-color: #F0F2F5;
}

.btn-save{
    cursor: pointer;
    color: #FFFFFF;
    font-size: 0.7rem;
    font-weight: 600;
    border-radius: 4px;
    text-transform: uppercase;
    border: 1px solid #2c89ec;
    background-color: #247fd5;
}

.btn-save:hover{
    color: #186de3;
    border: 1px solid #448df4;
    background-color: #F0F2F5;
}
