.account-cus-container {
    width: 94%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    gap: 25px;

    .account-cus-header {
        display: flex;
        justify-content: space-between;

    }

    .account-cus-body {
        .cus-list {
        }
    }
    .input-info {display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 95%;
    font-style: inherit;
    font-variant: inherit;
    font-weight: inherit;
    font-stretch: inherit;
    line-height: inherit;
    font-family: inherit;
    margin: 0px;
    font-size: 0.75rem;
    line-height: 1.25;
    letter-spacing: 0.035em;
    opacity: 1;
    text-transform: none;
    vertical-align: unset;
    text-decoration: none;
    color: gray;
    font-weight: 700;
}
    
    input:focus {
        outline: none;
    }
}

