/*------------------Suppliers Managerment--------------------------------*/

.sup-container {
    width: 94%;
    display: flex;
    flex-direction: column;
    height: 100%;
    margin: 1em;
    background-color: white;
    border: none;
    border-radius: 10px;
    padding: 1em;
    gap: 25px;

    .supp-header {
        display: flex;
        justify-content: space-between;
    }

    .sup-body {
        .supp-list {
            display: flex;
            flex-direction: column;
            align-items: center;
            justify-content: center;
            height: 95%;

            .btn-del {
                margin-left: 1em;
                cursor: pointer;
                color: #FFFFFF;
                font-size: 0.7rem;
                font-weight: 600;
                border-radius: 4px;
                text-transform: uppercase;
                border: 1px solid #f44444;
                background-color: #e12d2d;
            }

            .btn-del:hover {
                color: #e31818;
                border: 1px solid #f44444;
                background-color: #F0F2F5;
            }
        }
    }

    .input-info {
        font-style: inherit;
        font-variant: inherit;
        font-weight: inherit;
        font-stretch: inherit;
        line-height: inherit;
        font-family: inherit;
        margin: 0px;
        font-size: 0.75rem;
        line-height: 1.25;
        letter-spacing: 0.035em;
        opacity: 1;
        text-transform: none;
        vertical-align: unset;
        text-decoration: none;
        color: gray;
        font-weight: 700;
    }

    input:focus {
        outline: none;
    }
}